{% include "header.html" %}
 {% block head %}<title>Todo App</title>{% endblock %}

<div class="container">
  <br/><br/>
  <h1 style="text-align:center;">Welcome to our web app!</h1>
  <br/>
  <h2 style="text-align:center;">On this app, you can create your own todo list.</h2>
  <h2 style="text-align:center;">You can add,update, delete your todos</h2>
  <br/>
  <h2 style="text-align:center;">Make your day productive by listing down all the tasks you have to do</h2>
  <h2 style="text-align:center;"><a href="/todo">Click here to go on to create your first Todo List</a><h2>
</div>
<br/><br/>
{% include "footer.html" %}

